src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit-soap="http://www.mulesoft.org/schema/mule/apikit-soap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/apikit-soap http://www.mulesoft.org/schema/mule/apikit-soap/current/mule-apikit-soap.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
    <apikit-soap:config httpStatusVarName="httpStatus" name="soapkit-config" port="orderManagementPort" service="orderManagement" wsdlLocation="orderManagement.xml"/>
    <ee:object-store-caching-strategy name="Caching_Strategy" doc:name="Caching Strategy" doc:id="e38a3efb-0c3e-4023-8a3b-e9098ad67f0c" >
		<os:private-object-store entryTtl="2" entryTtlUnit="MINUTES" expirationInterval="30" expirationIntervalUnit="SECONDS" />
	</ee:object-store-caching-strategy>
	<flow name="api-main">
        <http:listener path="/orderManagement/orderManagementPort" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[attributes.additionalTransportData.statusCode default 200]">
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[attributes.additionalTransportData.statusCode default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[attributes.protocolHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<apikit-soap:router config-ref="soapkit-config">
            <apikit-soap:attributes><![CDATA[#[%dw 2.0
              output application/java
              ---
              {
                  headers: attributes.headers,
                  method: attributes.method,
                  queryString: attributes.queryString
            }]]]></apikit-soap:attributes>
        </apikit-soap:router>
    </flow>
    <flow name="BookTicket:\soapkit-config">
		<flow-ref doc:name="Flow Reference" doc:id="0f4ffc01-e3f7-4dce-ba33-acb247e2e52d" name="BookTicketFlow"/>
    </flow>
	<flow name="TrackStatus:\soapkit-config">
		<flow-ref doc:name="Flow Reference" doc:id="33bcfbdb-e7ea-4122-a9f3-ef97e4515365" name="PrintTicketFlow"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bcba4d18-b13f-4994-91ef-7c1f25e5750c" >
				<ee:transform doc:name="Transform Message" doc:id="2f305b6e-419b-4f61-954d-f222751af15e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
error:
{
	message: "Entered mail-ID or Order number Does not Exist in the DataBase "
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>
</mule>
